@media (max-width: 1199px) {
    /* .main-block{
        padding-top: 73px;
        padding-right: 17px;
        padding-left: 15px;
    } */
}

@media (max-width: 1149px) {
   
    
    .main {
       padding-left: 17px;
        margin: 0 auto;
        
    }
    .header-block {
        width: 100%;
    }
    .h1 {
        width: 100%;
    }
    .image {
        width: 100%;  
    }

    /*  блок о нас */
    .main-about-us {
        width: 100%;
        margin: 0% auto;
        padding-left: 17px;
    }
    .about {
        width: 100%;
        font-size: 18px;
    }
    .about-us {
        width: 100%;
        font-size: 45px;

    }
    .href {
        width: 30%;

    }
    /*   блок проекты */
    .main-card-images {
        padding-left: 15px;
        margin: 0% auto;

    }
    .image-about-us {
        font-size: 18px;
    }
    .image-card {
        width: 100%;
        padding-right: 15px;
    }
    .image-card-text {
        font-size: 25px;
        
    }
    .image-card-href {
        font-size: 20px;
       
    }
    /* блок с услугами */
    .back {
        width: 100%;
        height: 100%;
        padding-bottom: 80px;
    }
    .content {
        padding-left: 10px;
        margin: 0% auto;
    }
    .photo_1 {
        width: 460px;
    }
    .service-link {
        width: 90%;
        padding-left: 29px;
        padding-right: 23px;
        margin-top: 80px;
    }
    /*  блок с отзывами */
    .review-wrapper {
        width: 1150px;
        margin: 0% auto;
    }
    .service {
    }
    .service-wrapper {
    }
    .row-review {
    }
    .col-review {
    }
    .people-name {
    }
    .people-text {
    }
    .people-text-end {
    }
}

@media (min-width: 861px) and (max-width:1110px) {      
    .main {
        margin: 0 auto;
        padding-left: 17px;
        padding-right: 15px;
    }
    .header-block {
        width: 100%;
    }
    .h1 {
        width: 100%;
        font-size: 50px;
    }
    .image {
        width: 100%;   
    }
    .image-text {
        font-size: 20px;
    }
    /*  блок о нас */
.main-about-us {
    width: 100%;
    margin: 0% auto;
    padding-left: 17px;
}
.about {
    width: 100%;
    font-size: 18px;
}
.about-us {
    /* width: 60%; */
    font-size: 35px;
    margin-bottom: 30px;
}
/*   блок проекты */
.main-card-images {
    margin-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0% auto;
}
.main-image-card {
    margin-top: 80px;
    padding-right: 15px;
}
.image-about-us {
    font-size: 18px;
}
.image-card {
    width: 100%;
}
.image-card-text {
    font-size: 25px;
}
.image-card-href {
    font-size: 20px;
    margin-bottom: 80px;
}
.href-more-work {
    padding-left: 15px;
    height: 80px;
}
.href-work {
       font-size: 30px;  
}
/*  услуги */
.content {
    width: 930px;
    margin: 0% auto;
}
.photo_1 {
    max-width: 460px;
    width: 400px;
}

.photo_1_text {
    font-size: 25px;
}

.service-link-text {
    width: 100%;
    padding-left: 13px;
    padding-right: 10px;
}
}
@media(max-width:860px) {
    .content {
        width: 650px;
        margin: 0% auto;
    }
    .service {
        font-size: 14px;
    }   
    .photo_1 {
        width: 350px;
    }
    .on_photo {
        width: 123px;
        height: 30px;
    }
    .text_on_photo {
        font-size: 14px;
    }
    .photo_1_text {
    }
    .on_photo_dop {
        width: 148px;
        height: 30px;
    }
    .photo_2_text {
        margin-bottom: 60px;
    }
    .service-link {
        width: 60%;
        height: 140px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .service-link-text {
        left: 10px;
        top: 45px;
        text-align: center;
    }
    
}
@media(min-width:577px) and (max-width:800px) {
  
    .content {
       width: 650px;
        margin: 0% auto;
    }
    .service {
        font-size: 14px;
    }
    .content_photo {
        flex-direction: column;
    }
    .content_photo_flex {
        flex-direction: column;
    }
    .photo_1 {
        width: 350px;
    }
    .on_photo {
        width: 123px;
        height: 30px;
    }
    .text_on_photo {
        font-size: 14px;
    }
    .on_photo_dop {
        width: 148px;
        height: 30px;
    }
    .photo_2_text {
        margin-bottom: 60px;
    }
    .service-link {
        width: 40%;
        height: 90px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .service-link-text {
        padding-top: 25px;
        left: 10px;
        top: 25px;
        text-align: center;
    }
    
}


@media (max-width: 576px) and (min-width:360px) {

    .main-block {
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
    }
    .main {
        width: 100%;
        margin: 0 auto;
    }
    .header-block {
        width: 100%;
    }
    .h1 {
        width: 89%;
        font-size: 30px;
        margin-bottom: 25px;
    }
    .image {
        width: 100%;
        height: 304px;
    }
    .image-text {
        width: 70%;
        font-size: 16px;
    }
    /*  блок о нас */
.main-about-us {
    width: 100%;
    margin: 0% auto;
    padding-left: 12px;
}
.about-us-text {
    width: 100%;
    
}
.about {
    width: 100%;
    margin-top: 80px;
    font-size: 14px;
}
.about-us {
    width: 100%;
    font-size: 22px;
    padding-right: 17px;
    margin-bottom: 30px;

}
.href {
    width: 90%;
  
}
/*   блок проекты */
.main-card-images {
    padding-left: 13px;
    margin: 0% auto;
    padding-right: 12px;

}
.main-image-card {
    width: 100%;
    margin-bottom: 49px;
}
.image-about-us {
    font-size: 14px;
}
.image-card {
    width: 100%;
}
.image-card-text {
    font-size: 18px;
    
}
.image-card-href {
    font-size: 16px;
}
.href-more-work {
    padding-left: 13px;
    padding-right: 13px;
    width: 100%;
    
}
/* блок с услугами*/
.content {
   
    margin: 0% auto;
}
.service {
    font-size: 14px;
}
.content_photo {
    flex-direction: column;
}
.content_photo_flex {
    flex-direction: column;
}
.photo_1 {
    width: 350px;
}
.on_photo {
    width: 123px;
    height: 30px;
}
.text_on_photo {
    font-size: 14px;
}
.on_photo_dop {
    width: 148px;
    height: 30px;
}
.photo_2_text {
    margin-bottom: 60px;
}
.service-link {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
}
.service-link-text {
    padding-top: 50px;
    left: 10px;
    top: 45px;
    text-align: center;
}

}