@media (max-width: 1199px) {
    /* .main-block{
        padding-top: 73px;
        padding-right: 17px;
        padding-left: 15px;
    } */
}

@media (max-width: 1149px) {
/* меню */
.menu {
}
.logo {
}
.text {
    display: none;
}
.menu-text {
}
.burger-btn{
    display: block;
    width: 38px;
    height: 22px;
    background-color: white;
}
.burger-btn-close{
    width: 34px;

}
.burger-btn-close{
    
}
.text-end {
}
.burger-btn_open{
    background-color: white;
}
   
    /* гланвый блок */
    .main {
       padding-left: 17px;
        margin: 0 auto;
        
    }
    .header-block {
        width: 100%;
    }
    .h1 {
        width: 100%;
    }
    .image {
        width: 100%;  
    }

    /*  блок о нас */
    .main-about-us {
        width: 100%;
        margin: 0% auto;
        padding-left: 17px;
    }
    .about {
        width: 100%;
        font-size: 18px;
    }
    .about-us {
        width: 100%;
        font-size: 45px;

    }
    .href {
        width: 30%;

    }
    /*   блок проекты */
    .main-card-images {
        padding-left: 15px;
        margin: 0% auto;

    }
    .image-about-us {
        font-size: 18px;
    }
    .image-card {
        width: 100%;
        padding-right: 15px;
    }
    .image-card-text {
        font-size: 25px;
        
    }
    .image-card-href {
        font-size: 20px;
       
    }
    /* блок с услугами */
    .back {
        width: 100%;
        height: 100%;
        padding-bottom: 80px;
    }
    .content {
        padding-left: 10px;
        margin: 0% auto;
    }
    .photo_1 {
        width: 460px;
    }
    .service-link {
        width: 90%;
        padding-left: 29px;
        padding-right: 23px;
        margin-top: 80px;
    }
    /*  блок с отзывами */
    .review-wrapper {
        width: 1150px;
        padding-left: 16px;
        margin: 0% auto;
    }
    .service-wrapper {
        margin-top: 117px;
    }
    .people-name {
        font-size: 35px;
    }
    .people-text {
        font-size: 20px;
        margin-bottom: 80px;
    }
    .people-text-end {
        margin-bottom: 120px;
    }
    /*  контакты */
.contacts{
    width: 1150px;
    margin-left: 124px;
}
.contacts-word{
    width: 90px;
    height: 25px;
font-size: 18px;
margin-bottom: 32px
}
/*  псевдо элемент */
.contacts-word:after{
bottom:-49px;
width: 24px;
height: 24px;
}
.contacts-word:before{
    bottom: -49px;
    left: 560px;
    width: 20px;
    height: 16px;
    }
.position-contacts{
    margin-top: 74px;
display: flex;
gap:104px;
flex-wrap: wrap;
flex-direction: row;
}
.tel{
font-size: 60px;
}
.mail{
font-size: 60px;
margin-bottom: 150px;
}
/* галерея */
.photo__1 {
    width: 100%;
    height: 100%;
}
.slider-text {
    left: 80px;
    font-size: 25px;
    top:500px;
}
.control-wrapper {
    left: 50px;
    top:450px;
}

.control-prev {
    top:450px;
}
.control-next {
    top:450px;
}
}

@media (min-width: 861px) and (max-width:1110px) {      
    .main {
        margin: 0 auto;
        padding-left: 17px;
        padding-right: 15px;
    }
    .header-block {
        width: 100%;
    }
    .h1 {
        width: 100%;
        font-size: 50px;
    }
    .image {
        width: 100%;   
    }
    .image-text {
        font-size: 20px;
    }
    /*  блок о нас */
.main-about-us {
    width: 100%;
    margin: 0% auto;
    padding-left: 17px;
}
.about {
    width: 100%;
    font-size: 18px;
}
.about-us {
    /* width: 60%; */
    font-size: 35px;
    margin-bottom: 30px;
}
/*   блок проекты */
.main-card-images {
    margin-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0% auto;
}
.main-image-card {
    margin-top: 80px;
    padding-right: 15px;
}
.image-about-us {
    font-size: 18px;
}
.image-card {
    width: 100%;
}
.image-card-text {
    font-size: 25px;
}
.image-card-href {
    font-size: 20px;
    margin-bottom: 80px;
}
.href-more-work {
    padding-left: 15px;
    height: 80px;
}
.href-work {
       font-size: 30px;  
}
/*  услуги */
.content {
    width: 930px;
    margin: 0% auto;
}
.photo_1 {
    max-width: 460px;
    width: 400px;
}

.photo_1_text {
    font-size: 25px;
}

.service-link-text {
    width: 100%;
    padding-left: 13px;
    padding-right: 10px;
}
/* блок с отзывами  */
.review-wrapper {
    max-width: 800px;
   max-width: 900px;
    padding-left: 16px;
    margin: 0% auto;
}

.service-wrapper {
    margin-top: 117px;
}

.people-name {
    font-size: 35px;
}
.people-text {
    font-size: 20px;
    margin-bottom: 80px;
}
.people-text-end {
    margin-bottom: 120px;
}
/* контакты */
.contacts{
    width: 100%;
    margin-left: 16px;
    right: 10px;
}
.contacts-word{
    width: 90px;
    height: 25px;
font-size: 18px;
margin-bottom: 32px
}
/*  псевдо элемент */
.contacts-word:after{
bottom:-49px;
width: 24px;
height: 24px;
}
.contacts-word:before{
    bottom: -49px;
    left: 450px;
    width: 20px;
    height: 16px;
    }
.position-contacts{
    margin-top: 74px;
display: flex;
gap:104px;
flex-wrap: wrap;
flex-direction: row;
}
.tel{
font-size: 45px;
}
.mail{
font-size: 45px;
margin-bottom: 80px;
}
/* галерея */
.photo__1 {
    width: 100%;
    height: 100%;
}
.slider-text {
    left: 80px;
    font-size: 25px;
    top:500px;
}
.control-wrapper {
    left: 50px;
    top:450px;
}

.control-prev {
    top:450px;
}
.control-next {
    top:450px;
}


}
@media(max-width:860px) {
    .content {
        width: 650px;
        margin: 0% auto;
    }
    .service {
        font-size: 14px;
    }   
    .photo_1 {
        width: 350px;
    }
    .on_photo {
        width: 123px;
        height: 30px;
    }
    .text_on_photo {
        font-size: 14px;
    }
    .on_photo_dop {
        width: 148px;
        height: 30px;
    }
    .photo_2_text {
        margin-bottom: 60px;
    }
    .service-link {
        width: 60%;
        height: 140px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .service-link-text {
        left: 10px;
        top: 45px;
        text-align: center;
    }
   /* блок с отзывами  */
.review-wrapper {
    max-width: 800px;
   max-width: 900px;
    padding-left: 16px;
    margin: 0% auto;
}
.service-wrapper {
    margin-top: 117px;
}

.people-name {
    font-size: 35px;
}
.people-text {
    font-size: 20px;
    margin-bottom: 80px;
}
.people-text-end {
    margin-bottom: 120px;
}
/* контакты */
.contacts{
    width: 100%;
    margin-left: 16px;
    right: 10px;
}
.contacts-word{
    width: 90px;
    height: 25px;
font-size: 18px;
margin-bottom: 32px
}
/*  псевдо элемент */
.contacts-word:after{
bottom:-49px;
width: 24px;
height: 24px;
}
.contacts-word:before{
    bottom: -150px;
    left:1px;
    width: 20px;
    height: 16px;
    }
.position-contacts{
    margin-top: 74px;
display: flex;
gap:104px;
flex-wrap: wrap;
flex-direction: row;
}
.tel{
font-size: 35px;
}
.mail{
font-size: 35px;
margin-bottom: 80px;
}
/* галерея */
.photo__1 {
    width: 100%;
    height: 100%;
}
.slider-text {
    right: 20px;
    left: 80px;
    font-size: 20px;
    top:500px;
}
.control-wrapper {
    left: 50px;
    top:450px;
}
.gallery-control{
justify-content: space-between;
padding-right: 80px;
}

.control-prev {
    top:450px;
}
.control-next {
    top:450px;
    right: 30px;
}



}
@media(min-width:577px) and (max-width:800px) {
  
    .content {
       width: 650px;
        margin: 0% auto;
    }
    .service {
        font-size: 14px;
    }
    .content_photo {
        flex-direction: column;
    }
    .content_photo_flex {
        flex-direction: column;
    }
    .photo_1 {
        width: 350px;
    }
    .on_photo {
        width: 123px;
        height: 30px;
    }
    .text_on_photo {
        font-size: 14px;
    }
    .on_photo_dop {
        width: 148px;
        height: 30px;
    }
    .photo_2_text {
        margin-bottom: 60px;
    }
    .service-link {
        width: 40%;
        height: 90px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .service-link-text {
        width: 100%;
        padding-top: 25px;
        left: 10px;
        top: 25px;
        text-align: center;
    }
     /* блок с отзывами  */
.review-wrapper {
    max-width: 760px;
    min-width: 500px;
    padding-left: 16px;
    margin: 0% auto;
}
.service-wrapper {
    margin-top: 80px;
}
.row-review {
    flex-direction: column;
}
.people-name {
    font-size: 25px;
}
.people-text {
    width: 349px;
    font-size: 16px;
    margin-bottom: 80px;
}
.people-text-end {
    margin-bottom: 80px;
    font-size: 16px;
    margin-bottom: 80px;
}
.contacts{
    width: 100%;
    margin-left: 16px;
    right: 10px;
}
.contacts-word{
    width: 90px;
    height: 25px;
font-size: 18px;
margin-bottom: 32px
}
/*  псевдо элемент */
.contacts-word:after{
bottom:-49px;
width: 24px;
height: 24px;
}
.contacts-word:before{
    bottom: -150px;
    left:1px;
    width: 20px;
    height: 16px;
    }
.position-contacts{
    margin-top: 74px;
display: flex;
gap:104px;
flex-wrap: wrap;
flex-direction: row;
}
.tel{
font-size: 35px;
}
.mail{
font-size: 35px;
margin-bottom: 80px;
}
/* галерея */
.photo__1 {
    width: 375px;
    height: 408px;
}
.slider-text {
    right: 20px;
    left: 80px;
    font-size: 20px;
    top:500px;
}
.control-wrapper {
    left: 50px;
    top:450px;
}
.gallery-control{
justify-content: space-between;
padding-right: 80px;
}

.control-prev {
    top:450px;
}
.control-next {
    top:450px;
    right: 30px;
}


    
    
}


@media (max-width: 576px) and (min-width:360px) {

    .main-block {
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
    }
    .main {
        width: 100%;
        margin: 0 auto;
    }
    .header-block {
        width: 100%;
    }
    .h1 {
        width: 89%;
        font-size: 30px;
        margin-bottom: 25px;
    }
    .image {
        width: 100%;
        height: 304px;
    }
    .image-text {
        width: 70%;
        font-size: 16px;
    }
    /*  блок о нас */
.main-about-us {
    width: 100%;
    margin: 0% auto;
    padding-left: 12px;
}
.about-us-text {
    width: 100%;
    
}
.about {
    width: 100%;
    margin-top: 80px;
    font-size: 14px;
}
.about-us {
    width: 100%;
    font-size: 22px;
    padding-right: 17px;
    margin-bottom: 30px;

}
.href {
    width: 90%;
  
}
/*   блок проекты */
.main-card-images {
    padding-left: 13px;
    margin: 0% auto;
    padding-right: 12px;

}
.main-image-card {
    width: 100%;
    margin-bottom: 49px;
}
.image-about-us {
    font-size: 14px;
}
.image-card {
    width: 100%;
}
.image-card-text {
    font-size: 18px;
    
}
.image-card-href {
    font-size: 16px;
}
.href-more-work {
    padding-left: 13px;
    padding-right: 13px;
    width: 100%;
    
}
/* блок с услугами*/
.content {
   width: 100%;
    margin: 0% auto;
}
.service {
    font-size: 14px;
}
.content_photo {
    flex-direction: column;
}
.content_photo_flex {
    flex-direction: column;
}
.photo_1 {
    width: 350px;
}
.on_photo {
    width: 123px;
    height: 30px;
}
.text_on_photo {
    font-size: 14px;
}
.on_photo_dop {
    width: 148px;
    height: 30px;
}
.photo_2_text {
    margin-bottom: 60px;
}
.service-link {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
}
.service-link-text {
    width: 100%;
    padding-top: 50px;
    left: 10px;
    top: 45px;
    text-align: center;
}
    /* блок с отзывами  */
    .review-wrapper {
        width: 100%;
        padding-left: 16px;
        padding-right: 13px;
        margin: 0% auto;
    }
    .service {
        width: 50%;
    margin-top: 80px;
    }
    .service-wrapper {
        margin-top: 80px;
    }
    .row-review {
        flex-direction: column;
    }
    .col-review {
    }
    .people-name {
        font-size: 25px;
    }
    .people-text {
        width: 349px;
        font-size: 16px;
        margin-bottom: 80px;
    }
    .people-text-end {
        margin-bottom: 80px;
        font-size: 16px;
        margin-bottom: 80px;
    }
    .contacts{
        width: 80%;
        margin-left: 16px;
        right: 10px;
    }
    .contacts-word{
        width: 90px;
        height: 25px;
    font-size: 18px;
    margin-bottom: 32px
    }
    /*  псевдо элемент */
    .contacts-word:after{
    bottom:-49px;
    width: 24px;
    height: 24px;
    }
    .contacts-word:before{
        bottom: -150px;
        left:1px;
        width: 20px;
        height: 16px;
        }
    .position-contacts{
        margin-top: 74px;
    display: flex;
    gap:104px;
    flex-wrap: wrap;
    flex-direction: row;
    }
    .tel{
    font-size: 35px;
    }
    .mail{
        width: 80%;
    font-size: 35px;
    margin-bottom: 80px;
    }
    /* галерея */
.photo__1 {
    width: 375px;
    height: 408px;
}
.slider-text {
    width: 287px;
    right: 20px;
    left: 10px;
    font-size: 20px;
    top:250px;
}
.control-wrapper {
    position: absolute;
    left: 20px;
    top:200px;
}
.gallery-control{
justify-content: space-between;
padding-right: 80px;
}

.control-prev {
    top:450px;
}
.control-next {
    top:450px;
    right: 30px;
}
.popup {
    width: 100%;
   
}
.popup_content {
    width: 100%;

}
.popup_title {
    left:90px;

}
.popup_title_h2 {
    left:30px;
}
.input {
    width: 90%;
    margin-right: 10px;
    margin-left: 10px;
}
.popup_button {
    height: 67px;
    width: 95%;
    left: 16px;
    right: 16px;
}


}