*{
    box-sizing: border-box;
    /*  плавный скролл */
    scroll-behavior: smooth;
}

body{
 font-family: Manrope;
 width: 100%;
 max-width: 100%;
 overflow-x: hidden;
}
/*  меню */
.menu{
    width: 1151.35px;
    height: 25.18px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 70px;
    display: flex;
justify-content: space-between;
}
.logo{
   
    width: 126.89px;
    height: 21.42px;
    vertical-align: top;
    
}
.text{
    display: flex;
    justify-content: flex-end;
}
.menu-text{
    margin-right: 60px;
    text-decoration: none;
    line-height: 24.59px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--text);
}
.text-end{
    margin-right: 0px;
}
/*  главный блок и информация о компании */
.main{
    width:1150px;
    margin: 0% auto;

}

.h1{
    width: 956px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 60px;
line-height: 100%;
letter-spacing: -0.03em;
color: var(--text);
margin-bottom: 30px;

}
.header-block{
    width: 1150px;
    margin: 0% auto;
    
}

.image{
width: 1150px;
height: 500px;
position: relative;
    background-image:url(../resources/Rectangle\ 1.png);
background-size: cover;
background-repeat: no-repeat    ;

}
.image-text{
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;
    height: 81px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #fff;
}
.about-us-text{
    margin: 0% auto;
}
.about{
    margin-top: 150px;
font-weight: 400;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--text);
margin-bottom: 30px;

}
.about-us{
width: 1150px;
font-weight: 400;
font-size: 45px;
letter-spacing: -0.03em;
color: var(--text);
margin-bottom: 30px;
}
.href{
    display: block;
    border-radius: 5px;
padding: 20px 40px;
margin-bottom: 150px;
width: 255px;
height: 67px;
background-color: red;
color: #fff;
text-align: center;
cursor: pointer;
text-decoration: none;
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
letter-spacing: -0.03em;
transition: all 1s ease;


}
.href:hover{
    color:red;
    background-color: ghostwhite;
    transition: all 1s ease;

}
.about-us-text{
    width: 1150px;
}
/*  блок с проектами */
.main-image-card{
    width: 1150px;
    margin: 0% auto;
    margin-bottom: 90px;
}
.image-about-us{
    margin-bottom: 30px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--text);
}
.image-card{
    width: 1150px;
    margin-top: 30px;
    margin: 0% auto;
}
.image-card-text{
    margin-top: 15px;
font-weight: 400;
font-size: 30px;

}
.image-card-href{
    display: block;
    margin-top: 15px;
    margin-bottom: 90px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 20px;

text-decoration: none;
color: red;
}
.href-more-work{
    margin: 0% auto;
    width: 1150px;
    margin-bottom: 150px;
}
.href-work{
    display: block;
    padding-top: 50px;
    width:100%;
    height: 153px;
    border: solid red;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    font-family: var(--font-family);
font-weight: 400;
font-size: 30px;
letter-spacing: -0.03em;
text-align: center;
color: red;
text-decoration: none;
transition: all 1s ease;

}
.href-work:hover{
    color:#fff;
    background-color: red;
    transition: all 1s ease;

}
/*  блок с услугами */

.back{
    width: 100%;
    height: 100%;
    background-color: black;
    padding-bottom: 150px;
}
.content{
    width: 1150px;
    margin: 0% auto;
    
}
.service{
    padding-top: 151px;
    padding-bottom: 30px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #fff;
}
.content_photo{
    display: flex;
    flex-direction: column;
    
}
.content_photo_flex{
    display: flex;
    row-gap: row;
    gap: 10px;
   

}
.card_1{
    position: relative;
  
}
.photo_1{
    width: 569px;
    margin-bottom: 25px;
    flex-grow: 1;
}
.on_photo{
    top:31px;
    left:30px;
    position: absolute;
    width: 163px;
    height: 40px;
    border-radius: 5px;
    background-color:#AD1818;

}
.on_photo_dop{
    top:31px;
    left:30px;
    position: absolute;
    width: 211px;
    height: 40px;
    border-radius: 5px;
    background-color:#AD1818;
}
.text_on_photo{
    padding-top: 8px;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.03em;
    color: #fff;
}
.photo_1_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 30px;
letter-spacing: -0.03em;
color: #fff;
margin-bottom: 86px;
}
.photo_2_text{
    margin-bottom: 106px;
}
.service-link{
    width: 1150px;
    height: 153px;
    border-radius: 5px;
    position: relative;
    background-color:#AD1818;
    margin-top:106px;
    cursor: pointer;

   
}
.service-link-text{

    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
font-weight: 400;
font-size: 30px;
letter-spacing: -0.03em;
text-align: center;
color: #fff;
text-decoration: none;
}
/*  блок с полноэкранной картинкой */
/* .full-image{ */
    /* height: 100vh;
    background-image: url('../resources/Rectangle\ 13.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */


/* }
.text-image-this{
position: absolute;
width: 443px;
left: 125px;
bottom: 60px;
font-family: var(--font-family);
font-weight: 400;
font-size: 30px;
letter-spacing: -0.03em;
color: #fff;  
} */
.gallery-section{
    padding-bottom: 150px;
}
.gallery{
    margin-bottom: 150px;
    position: relative;
   
}
.gallery-wrapper{
    position: absolute;
    color: #fff;
    z-index: 100; 
    left: 124px;
    top:60px;
}
.gallery-title{
    color: #fff;
    z-index: 100;
    font-family: var(--font-family);
font-weight: 400;
font-size: 22px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #fff; /* для помещения элемента выше чем другие элементы с значением position:absolute; 100-показывает что оно должно быть выше */
}
.gallery-slydes{
    height: 717px;
    position: relative;
   
}
.gallery-slide{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.gallery-slide-active{ /* для создания переключения */
 opacity: 1;
}
.photo-slider{
    height: 100%;

}
 .photo__1{
    height: 100vh;
    background-image: url('../resources/Rectangle\ 13.png');
    background-repeat: no-repeat;
    background-size: cover;
 }
 .slider-text1{
    width: 443px;
 }
 .slider-text{
    position:absolute;
   top:750px;
    left:125px;
    line-height: 50px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 30px;
letter-spacing: -0.03em;
color: #fff;
 }   
 .photo__2{
    height: 100vh;
    background-image: url('../resources/Rectangle\ 14.png');
    background-repeat: no-repeat;
    background-size: cover;
 }
.photo__3{
    height: 100vh;
    background-image: url('../resources/Rectangle\ 15.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.photo__4{
    height: 100vh;
    background-image: url('../resources/Rectangle\ 16.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.control-wrapper{
    position: absolute;
    width: 100%;
    left: 115px;
    top:650px;
    
}

.gallery-control{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}
.control-prev{
    height: 40px;
}
.control-next{
    height: 40px;
}
/*  контакты */
.contacts{
    width: 1150px;
    margin-left: 124px;
}
.contacts-word{
    position: relative;
    width: 90px;
    height: 25px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--text);
margin-bottom: 32px
}
/*  псевдо элемент */
.contacts-word:after{
content: '';
position: absolute;
display: block;
bottom:-49px;
background-size: cover;
background-repeat: no-repeat;
background-image: url('../resources/ic_outline-phone-iphone.png');
width: 24px;
height: 24px;
}
.contacts-word:before{
    content: '';
    position: absolute;
    display: block;
    bottom: -49px;
    left: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../resources/mail.png');
    width: 20px;
    height: 16px;
    }
.position-contacts{
    margin-top: 74px;
display: flex;
gap:104px;
flex-wrap: wrap;
flex-direction: row;
}
.tel{
    display: flex;
    font-family: var(--font-family);
font-weight: 400;
font-size: 60px;
line-height: 100%;
letter-spacing: -0.03em;
color: var(--text);
text-decoration: none;

}
.mail{
    display: flex;
 
    display: block;
    font-family: var(--font-family);
font-weight: 400;
font-size: 60px;
line-height: 100%;
letter-spacing: -0.03em;
color: var(--text);
opacity: 0.5;
text-underline-offset: 10px;
text-decoration-thickness: 2px;
width: 406px;
margin-bottom: 150px;
}
/* footer */
.footer{
    width: 100%;
    height: 229px;
    background-color: rgba(18, 18, 18, 1);
   
}
.footer-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.footer-text-link{
    margin-top: 60px;
   margin-right: 53px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #fff;
text-decoration: none;
transition: all 1s ease;
}
.footer-text-link:hover{
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #fff;
opacity: 0.5;
transition: all 1s ease;
}
.design{
    margin-top: 87px;
    text-align: center;
    font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
letter-spacing: -0.03em;
color: #fff;
opacity: 0.5;
}
/*  отзывы */
.review-wrapper{
    width: 1150px;
    margin: 0% auto;
}
.service-wrapper{
    margin-top: 150px;
    margin-bottom: 30px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #121212;
}
.row-review{
    display: flex;
    flex-direction: row;

}
.col-review{
    display: flex;
    flex-direction: column;
    margin-right: 51px;
}
.people-name{
    margin-bottom: 14px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 45px;
letter-spacing: -0.03em;
color: #000;
}
.people-text{
    margin-bottom: 50px;
    width: 100%;
    line-height: 1.2em;
    font-family: var(--font-family);
font-weight: 400;
font-size: 22px;
letter-spacing: -0.03em;
color: #000;
}
.people-text-end{
    width: 80%;
    margin-bottom: 150px;
    line-height: 1.2em;
    font-family: var(--font-family);
font-weight: 400;
font-size: 22px;
letter-spacing: -0.03em;
color: #000;
}